body{
    background-image: url("../images/booksMain.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#mainHeader{
    font-family: 'Arial';
    font-size: 180px;
    color: white;
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: black;
    text-align: center;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#mainButton{

    background-color: green;
    border-color: #ff0000;
    border-width: 20px;
    
    color: white;
    border-radius: 70px;
    font-size: 130px;
    text-align: center;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

